<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.assess15.arch">

    <application
            android:name="com.assess15.arch.App">

        <activity android:name="com.assess15.arch.ArchActivity"/>
        <activity android:name=".aop.login.LoginActivity"/>
        <activity android:name=".aop.login.OtherActivity"/>

        <activity android:name=".test.LoginActivity"/>
        <activity android:name=".test.MainLoginActivity"/>
        <activity android:name=".test.OtherActivity"/>
    </application>

</manifest>
