<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.source.arch">

    <application
        android:name="com.source.arch.App"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".ArchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.source.arch.aop.login.LoginActivity" />
        <activity android:name="com.source.arch.aop.login.OtherActivity" />

        <activity android:name="com.source.arch.test.LoginActivity" />
        <activity android:name="com.source.arch.test.MainLoginActivity" />
        <activity android:name="com.source.arch.test.OtherActivity" />
    </application>

</manifest>
