<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.assess15.ui">

    <application>
        <activity android:name="com.assess15.ui.paint.PaintActivity"/>
        <activity android:name="com.assess15.ui.paint.xfermode.XfermodeActivity"/>
        <activity android:name="com.assess15.ui.paint.gradient.GradientActivity"/>
        <activity android:name="com.assess15.ui.paint.colorFilter.ColorFilterActivity"/>
        <activity android:name="com.assess15.ui.canvas.CanvasActivity"/>
        <activity android:name="com.assess15.ui.path.PathActivity"/>
        <activity android:name="com.assess15.ui.pathMeasure.PathMeasureActivity"/>
        <activity android:name="com.assess15.ui.event.EventActivity"/>
        <activity android:name="com.assess15.ui.screen.pixel.ScreenActivity"/>
        <activity android:name="com.assess15.ui.appbar.AppBarActivity"/>

        <activity android:name="com.assess15.ui.materialDesign.MaterialDesignActivity"/>
        <activity android:name="com.assess15.ui.materialDesign.BottomNavigationViewActivity"/>
        <activity android:name="com.assess15.ui.materialDesign.VipActivity"/>
        <activity android:name="com.assess15.ui.materialDesign.ToolbarActivity"/>
        <activity android:name="com.assess15.ui.materialDesign.MovieDetailActivity"/>
        <activity android:name="com.assess15.ui.materialDesign.FloatTabActivity"/>
        <activity android:name="com.assess15.ui.recyclerView.RecyclerViewActivity"/>
        <activity android:name="com.assess15.ui.paint.colorFilter.CFActivity"/>
        <activity android:name="com.assess15.ui.event.demo.MoveBollActivity"/>
        <activity android:name="com.assess15.ui.coordinatorLayout.CoordinatorLayoutActivity"/>
        <activity android:name="com.assess15.ui.cardView.CardViewActivity"/>
        <activity android:name="com.assess15.ui.statusBar.StatusBarActivity"
                  android:theme="@style/StatusBarAppTheme"/>
        <activity android:name=".event.demo.CustomImageViewActivity"/>
        <activity android:name=".paint.demo.PwdEditTextActivity"/>


    </application>

</manifest>
